<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">MVC Tech Blog</a>
      </h1>
        <nav>
          <span><a href="/">home</a></span> 
          {{#if loggedIn}}
          <button id="logout" class="btn-no-style" onclick="logout()">logout</button>
          {{else}}
          {{!-- <button id="login" class="btn-no-style" onclick="promptSignInOrSignUp();">login</button> --}}
          <a href="/login">login</a>
          {{/if}}
          {{!-- <button id="dashboard" class="btn-no-style">dashboard</button> --}}

          <li>
                <p><a class="link" href="/dashboard">Dashboard</a></p>
          </li>

        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/home.js"></script>
  {{/if}}

</body>

</html>